<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="nav">
    <img id="an" src="img/logo.png"  width="140" height="70">
    <h1>By Delcod</h1>
    <img id="question" src="img/doubts-button.png" width="50" height="50" >
    <!-- <li><a href="room.ejs">Join</a></li> -->
</div>
    <div class="body">
        <div class="left">
            <h1>Premium video meetings. Now free for everyone.</h1>
            <p>We provide Premium features for free. Feel free to meet with your staf . </p>
            <a  id="join" href="room.ejs"><h1  >Join</h1></a>
        </div>
        <div class="right">
            <img src="img/mee.png" alt="">
            <p id="img_bottom"> Get a link that you can share and join the meeting 
            </p>
        </div>
    </div>
    <div class="footer">
        This webite is own by Delcod . © copyright 2023
    </div>
</body>
</html> 